body {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	font: bold 14px "Century Gothic", sans-serif;
	list-style: none;
	text-align: center;
}
h3 {
	font: bold 21px "Century Gothic", sans-serif;
}
h1 {
	margin: 10px;
	font: 50px "Century Gothic", sans-serif;
}
p {
	font: 14px "Century Gothic", sans-serif;
}
i {
	margin-right: 5px;
}
button, input {
	outline: none;
}
.head {
	background: #3c3c3c;
	height: 75px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.phone {
	color: #e9b637;
}
.search {
	background: #3c3c3c;
	height: 20px;
	border: 1px solid white;
	padding-left: 15px;
	color: white;
}
.your-account li{
	margin-right: 25px;
	float: left;
}
.menu {
	background: #f0f0f0;
	height: 75px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-menu {
	width: 475px;
	font: bold 18px "Century Gothic", sans-serif;
	margin-bottom: 0px;
	display: flex;
	justify-content: space-between;
}
.main-menu li {
	font: bold 18px "Century Gothic", sans-serif;
}
.slider {
	background: #e9b637;
	width: 1000px;
	height: 400px;
	margin: 0px auto;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.box {
	margin: 25px 0px;
	padding: 30px;
	border-top: 1px solid rgba(0,0,0,0.25);
	display: flex;
	justify-content: center;
}
.box-logos {
	border-top: 1px solid rgba(0,0,0,0.25);
	padding: 25px;
	display: flex;
	justify-content: center;
}
.listbox-items {
	width: 1000px;
	display: flex;
	justify-content: space-between;
}
.listbox-items li {
	width: 125px;
}
.listbox-logos {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info {
	width: 500px;
	margin-right: 25px;
	font: 14px "Century Gothic", sans-serif;
}
.btns {
	width: 200px;
	margin: 15px 15px 0 0;
}
.btn {
	width: 175px;
	height: 35px;
	margin-bottom: 25px;
	background: white;
	border: 1px solid black;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}
.btn:hover {
	background: black;
	color: #e9b637;
}
.icons {
	width: 115px;
	height: 115px;
}
.logos {
	width: 80px;
}
.our-company {
	background: #e7e7e7;
	width: 580px;
	height: 400px;
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.our-company li {
	font: 14px "Century Gothic", sans-serif;
	float: none;
	width: 450px;
	text-align: left;
}
.our-company li::before{
	content: "•";
	color: #e9b637;
	font-size: 20px;
	margin-left: -15px;
}
.contact-us {
	background: #3c3c3c;
	width: 300px;
	height: 400px;
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.email {
	height: 40px;
	background: #515151;
	border: 1px solid white;
	padding-left: 15px;
	color: white;
	font: 15px "Century Gothic", sans-serif;
}
.contact-us button {
	height: 50px;
	background: #e9b637;
	border: none;
	font: 18px "Century Gothic", sans-serif;
	cursor: pointer;
	transition: 0.3s; 
}
.contact-us button:hover {
	background: white;
	border: 1px solid #e9b637;
	color: #e9b637;
}
.contact-us h3 {
	color: white;
}
.contact-us p {
	color: #777777;
}
.information {
	background: #464646;
	height: 250px;
	color: white;
	margin-top: 25px;
	display: flex;
	justify-content: center;
}
.location {
	width: 450px;
}
.location ul {
	margin-top: 40px;
}
.root {
	background: #3c3c3c;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social {
	display: flex;
	align-items: center;
}
.number {
	font: bold 24px "Century Gothic", sans-serif;
}

